# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\new-E-Daliely-back-end\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
